@import "~bootstrap/scss/bootstrap";
@import "base/colors";

.difficulty-button {
  background-color: color(gray);

  &.difficulty-button-active {
    background-color: color(white);
  }
}

.powered-by {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
